{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quices</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Quices</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Mis quices</h3>
                        <div class="card-header-right">
                            <div class="card-option">
                                <a href="new-quiz.html">
                                    <button type="button" class="btn btn-success" style="border-radius: 10px;">
                                        <h5 style="color: white;">Nuevo quiz </h5><i class="feather icon-plus" style="color: white;"></i></button>
                                </a>
                                <button type="button" class="btn btn-info reload-card" style="border-radius: 10px;">
                                    <a href="#!"><i class="feather icon-refresh-ccw" style="color: white;"></i></a></button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-border-style">
                        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									</div>
									<div class="modal-body">
										<p class="mb-0">Woohoo, you're reading this text in a modal!</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" class="btn  btn-primary">Save changes</button>
									</div>
								</div>
							</div>
						</div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th width="65%"></th>
                                        <th>Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for quiz in object_list %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{quiz.id}}</td>
                                        <td style="vertical-align: middle;"><a href="{% url 'dashboard:edit-quiz'%}?id={{quiz.slug}}"><h4>{{quiz.titulo}}</h4></a></td>
                                        <td style="vertical-align: middle;">Por defecto</td>
                                        <td>
                                            <button type="button" class="btn  btn-icon btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copiar enlace" onclick="(function() {navigator.clipboard.writeText('{{request.get_host}}{% url 'dashboard:quiz' slug=quiz.slug %}');})();"><i class="feather icon-link"></i></button>
                                            <button type="button" class="btn  btn-icon btn-primary"><i class="feather icon-copy"></i></button>
                                            <button type="button" class="btn  btn-icon btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="feather icon-trash"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Apex Chart -->
<script src="{% static 'js/dashboard/plugins/apexcharts.min.js' %}"></script>


<!-- custom-chart js -->
<script src="{% static 'js/dashboard/pages/dashboard-main.js' %}"></script>
{% endblock %}